<section>
    <div class="form-box">
        <div class="form-value">
            <form (ngSubmit)="adminlogin()" [formGroup]="adminLoginForm" action="">
                <h2>Admin Login</h2>
                <div class="inputbox">
                    <i class="fa-solid fa-envelope"></i>
                    <input name="name"  formControlName="email" class="email" type="email" required>
                    <label for="">Email</label>
                </div>
                <div *ngIf="this.adminLoginForm.get('email')?.errors&&this.adminLoginForm.get('email')?.touched" class="text-danger">Invalid Email</div>
                <div class="inputbox">
                    <i class="fa-solid fa-lock"></i>
                    <input name="pswd" formControlName="pswd" type="password" required>
                    <label for="">Password</label>
                </div>
                <div *ngIf="this.adminLoginForm.get('pswd')?.errors&&this.adminLoginForm.get('pswd')?.touched" class="text-danger">Invalid Password</div>
                <div class="text-danger">{{errorMsg}}</div>
                <button >Log-In</button>
                
            </form>
        </div>
    </div>
</section>
